.photo-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", Arial, sans-serif;
  display: none;
}

.photo-popup__container {
  max-width: 68vw;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-popup__close-button_mod-40px {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent;
  background-image: url("../images/close_button.png");
  background-repeat: no-repeat;
  position: absolute;
  top: -36px;
  right: -45px;
}

.photo-popup__close-button_mod-40px:hover {
  opacity: 60%;
}

/*
.profile-popup__close-button_mod-26px {
  display: none;
} */

.photo-popup__rectangle {
  max-width: 75vw;
  width: 100%;
  max-height: 75vh;
  height: 100%;
  overflow: hidden;
}

.photo-popup__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-popup__name {
  color: white;
  max-width: 816px;
  width: 100%;
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}

.photo-popup__opened {
  display: block;
}

/* @media screen and (max-width: 650px) {
  .profile-popup__container {
    max-width: 300px;
  }

  .profile-popup__close-button_mod-40px {
    top: -55px;
    right: 5px;
  }

  .profile-popup__title,
  .profile-popup__fieldset {
    max-width: 280px;
  }
}

@media screen and (max-width: 320px) {
  .profile-popup__container {
    max-width: 282px;
    width: 100%;
    top: 40%;
  }

  .profile-popup__close-button_mod-40px {
    display: none;
  }

  .profile-popup__close-button_mod-26px {
    display: block;
    width: 26px;
    height: 26px;
    border: none;
    background: transparent;
    cursor: pointer;
    position: fixed;
    top: -45px;
    right: 5px;
  }

  .profile-popup__close-button_mod-26px:hover {
    opacity: 60%;
  }

  .profile-popup__title {
    max-width: 238px;
    width: 100%;
    padding: 25px 0 76px;
    font-size: 18px;
  }

  .profile-popup__fieldset {
    max-width: 238px;
    width: 100%;
    height: 26px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-bottom: 30px;
  }

  .profile-popup__submit-button {
    max-width: 238px;
    width: 100%;
    height: 46px;
    font-size: 14px;
    margin: 48px 0 25px;
  }
} */
